In [1]:
a = 10
b = 2.15
c = "Hello"
d = True

print(type(a), a)
print(type(b), b)
print(type(c), c)
print(type(d), d)

<class 'int'> 10
<class 'float'> 2.15
<class 'str'> Hello
<class 'bool'> True

In [3]:
import math

x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))

distance = math.sqrt((x2 - x1) ** 2 + (y2 -y1) ** 2)
print("Distance between points: ", distance)
print("Distance between points: ", round(distance, 2))

Distance between points:  90.27181176868004
Distance between points:  90.27

In [5]:
n = int(input("Enter a number: "))
print("Even" if n % 2 == 0 else "Odd")

Odd

In [8]:
for i in range(2, 11):
    decimal = 1/i
    print(f"1/{i} = {decimal:.2f}")

1/2 = 0.50
1/3 = 0.33
1/4 = 0.25
1/5 = 0.20
1/6 = 0.17
1/7 = 0.14
1/8 = 0.12
1/9 = 0.11
1/10 = 0.10

In [9]:
lst = [1, 2, 3, 4, 5]
print(lst[0], lst[-1])
print(lst[1:4])
print(lst[::2])
print(lst[::-1])
print(lst[1:4:2])
print(lst[::2])
tpl = (1, 2, 3, 4, 5)
print(tpl[0], tpl[-1])
print(tpl[1:4])
print(tpl[::2])
print(tpl[::-1])
print(tpl[1:4:2])
print(tpl[::2])

1 5
[2, 3, 4]
[1, 3, 5]
[5, 4, 3, 2, 1]
[2, 4]
[1, 3, 5]
1 5
(2, 3, 4)
(1, 3, 5)
(5, 4, 3, 2, 1)
(2, 4)
(1, 3, 5)

In [11]:
arr = [1, 2, 3, 4, 5]
for i in arr:
    print(i, end=" ")

1 2 3 4 5

In [14]:
n = int(input("Enter n: "))
while n > 0:
    print(n, end=" ")
    n -= 1

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [18]:
def is_prime(n):
    if n < 2: return False
    for i in range(2, int(n ** 0.5)+1):
        if n % i == 0:
            return False
    return True

total = 0
for i in range(1, 101):
    if is_prime(i):
        print(i, end=" ")
        total += i
print("")
print("Sum of prime numbers from 1 to 100:", total)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
Sum of prime numbers from 1 to 100: 1060

In [20]:
a ,b = 1, 2
total = 0
while b < 100:
    if b % 2 == 0:
        print(b, end=" ")
        total += b
    a, b = b, a + b
print("Sum of even Fibonacci numbers less than 100:", total)

2 8 34 Sum of even Fibonacci numbers less than 100: 44

In [23]:
nums = list(range(100))

even_index_sum = 0
for i in range(0, len(nums), 2):
    even_index_sum += nums[i]

print("Sum of elements at even indices:", even_index_sum)

Sum of elements at even indices: 2450

In [26]:
s = input("Enter a string: ")
char_count = {}
for char in s:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print("Character count:", char_count)

Character count: {'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

In [42]:
birthday_str = input("Enter your birthday (dd-mm-yyyy): ")
birthday_parts = birthday_str.split("-")

birthday_dict = {
    'day': birthday_parts[0],
    'month': birthday_parts[1],
    'year': birthday_parts[2]
}

print(birthday_dict)
print("Birthday Details : (DD-MM-YYYY)")
print("Day   : ", birthday_dict['day'])
print("Month : ", birthday_dict['month'])
print("Year  : ", birthday_dict['year'])

# Join the parts back into a string
new_birth = "-".join([birthday_dict['year'], birthday_dict['month'], birthday_dict['day']])

print("Formatted Birthday:", new_birth)

{'day': '04', 'month': '02', 'year': '2004'}
Birthday Details : (DD-MM-YYYY)
Day   :  04
Month :  02
Year  :  2004
Formatted Birthday: 2004-02-04

In [50]:
with open("a.txt", 'r') as file:
    text = file.read()

freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print("Character Frequency:", freq)

Character Frequency: {'H': 1, 'e': 4, 'l': 5, 'o': 6, ' ': 9, 'W': 3, 'r': 2, 'd': 2, 'c': 1, 'm': 1, 'T': 1, 't': 2, 'h': 2, 'O': 1, 'F': 1, 'P': 1, 'y': 1, 'n': 1, '\n': 3}

In [49]:
filename = input("Enter filename: ")
with open(filename, 'r') as f:
    text = f.read()

freq = {}
for ch in text:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

{'H': 1, 'e': 4, 'l': 5, 'o': 6, ' ': 9, 'W': 3, 'r': 2, 'd': 2, 'c': 1, 'm': 1, 'T': 1, 't': 2, 'h': 2, 'O': 1, 'F': 1, 'P': 1, 'y': 1, 'n': 1, '\n': 3}

In [57]:
filename = input("Enter filename: ")
file_extension = filename.split(".")[-1]
print("File extension:", file_extension)
if file_extension == "txt":
    print("Text file")
elif file_extension == "C++":
    print("C++ file")
elif file_extension == "csv":
    print("CSV file")
elif file_extension == "json":
    print("JSON file")
elif file_extension == "py":
    print("Python file")
elif file_extension == "html":
    print("HTML file")
else :
    print("Unknown file type")

File extension: txt
Text file

In [65]:
with open("a.txt", 'r') as file:
    for line in file:
        print(line[::-1])

  nohtyP FO dlroW eht oT emocleW dlroW olleH

olleH

nohtyP

aS dlroW

In [69]:
with open("a.txt", 'r') as f:
    lines = f.readlines()
    for line in reversed(lines):
        print(line.strip())
        print(line[::-1])

World Sa

aS dlroW
Python

nohtyP
Hello

olleH
Hello World Welcome To the World OF Python

  nohtyP FO dlroW eht oT emocleW dlroW olleH

In [74]:
with open("a.txt", 'r') as f:
    lines = f.readlines()
    for i in range(len(lines) - 1, -1, -1):
        # print(lines[i].strip())
        print(lines[i][::-1])

aS dlroW

nohtyP

olleH

  nohtyP FO dlroW eht oT emocleW dlroW olleH

In [75]:
with open("a.txt", 'r') as file:
    lines = file.readlines()
    lines = lines[::-1]

    for line in lines:
        print(line[::-1])

aS dlroW

nohtyP

olleH

  nohtyP FO dlroW eht oT emocleW dlroW olleH

In [82]:
num_lines = 0
num_words = 0
num_chars = 0

with open("a.txt", 'r') as file:
    for line in file:
        num_lines += 1
        num_words += len(line.split())
        num_chars += len(line.strip())

print("Number of lines:", num_lines)
print("Number of words:", num_words)
print("Number of characters:", num_chars)

Number of lines: 6
Number of words: 12
Number of characters: 61

In [81]:
num_lines = 0
num_words = 0
num_chars = 0

with open("a.txt", 'r') as file:
    for line in file:
        num_lines += 1
        num_words += len(line.split())
        num_chars += len(line.rstrip("\n"))  # Removes the trailing newline

print("Number of lines:", num_lines)
print("Number of words:", num_words)
print("Number of characters:", num_chars)

Number of lines: 6
Number of words: 12
Number of characters: 63

In [211]:
def nearly_equal(a, b):
    if abs(len(a) - len(b) > 1):
        return False

    i , j , mutation = 0, 0, 0
    while i < len(a) and j < len(b):
        if a[i] == b[j]:
            i += 1
            j += 1
        else:
            mutation += 1
            if mutation > 1:
                return False
            if len(a) > len(b):
                i+= 1
            elif len(b) > len(a):
                j+= 1
            else:
                i += 1
                j += 1
    if i < len(a) or j < len(b):
            mutation += 1
    return mutation == 1

print(nearly_equal("pale", "ple"))  # True
print(nearly_equal("pales", "pale"))  # True
print(nearly_equal("pale", "bale"))  # True
print(nearly_equal("pale", "bake"))  # False

True
True
True
False

In [90]:
def merge(arr, low, mid, high):
    left = low
    right = mid + 1
    temp = []

    while left <= mid and right <= high:
        if arr[left] <= arr[right]:
            temp.append(arr[left])
            left+=1
        else:
            temp.append(arr[right])
            right+=1
    while left <= mid:
        temp.append(arr[left])
        left+=1
    while right <= high:
        temp.append(arr[right])
        right+=1
    
    for i in range(len(temp)):
        arr[low + i] = temp[i]


def mergeSort(arr, low, high):
    if low >= high: 
        return
    mid = (low + high) // 2
    mergeSort(arr, low, mid)
    mergeSort(arr, mid + 1, high)
    merge(arr, low, mid, high)

arr = [12, 11, 13, 5, 6, 7]
print("Original array:", arr)
mergeSort(arr, 0, len(arr) - 1)
print("Sorted array:", arr)

Original array: [12, 11, 13, 5, 6, 7]
Sorted array: [5, 6, 7, 11, 12, 13]

In [213]:
def merge(arr, low, mid, high):
    left = low
    right = mid +1
    temp = []

    while left <= mid and right<= high:
        if arr[left] <= arr[right]:
            temp.append(arr[left])
            left+=1
        else:
            temp.append(arr[right])
            right+=1
    while left <= mid:
        temp.append(arr[left])
        left += 1
    while right <= high:
        temp.append(arr[right])
        right += 1
    
    for i in range(len(temp)):
        arr[low+i] = temp[i]

def mergeSort(arr, low, high):
    if low>= high:
        return
    
    mid  = (low + high)//2
    mergeSort(arr, low, mid)
    mergeSort(arr, mid+1, high)
    merge(arr, low, mid, high)


arr = [12, 11, 13, 5, 6, 7]
print("Original array:", arr)
mergeSort(arr, 0, len(arr) - 1)
print("Sorted array:", arr)

Original array: [12, 11, 13, 5, 6, 7]
Sorted array: [5, 6, 7, 11, 12, 13]

In [91]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i + 1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
            arr[i], arr[min_idx] = arr[min_idx], arr[i]

    return arr


arr = [64, 25, 12, 22, 11]
print("Original array:", arr)
sorted_arr = selection_sort(arr)
print("Sorted array:", sorted_arr)

Original array: [64, 25, 12, 22, 11]
Sorted array: [11, 22, 12, 25, 64]

In [214]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
            arr[i], arr[min_idx] = arr[min_idx], arr[i]


def selection_sort(Arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
            arr[i], arr[min_idx] = arr[min_idx], arr[i]

    return arr

In [ ]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
            arr[i], arr[min_idx] = arr[min_idx], arr[i]
        
    return arr

In [92]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j] ,arr[j+1] = arr[j+1], arr[j]
    return arr

arr = [64, 34, 25, 12, 22, 11, 90]
print("Original array:", arr)
sorted_arr = bubble_sort(arr)
print("Sorted array:", sorted_arr)

Original array: [64, 34, 25, 12, 22, 11, 90]
Sorted array: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j = i - 1

        while j >= 0 and arr[j] > key:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key

    return arr


arr = [12, 11, 13, 5, 6]
print("Original array:", arr)
sorted_arr = insertion_sort(arr)
print("Sorted array:", sorted_arr)

Original array: [12, 11, 13, 5, 6]
Sorted array: [5, 6, 11, 12, 13]

In [212]:
def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j -= i
        while arr[j]>= 0 and arr[j] > key:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key
    return arr


def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j -= 1
        while arr[j] >= 0 and arr[j] > key :
            arr[j+1] = arr[j]
            j -= 1
        arr[j+ 1] = key
    return arr

In [215]:
def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j -= 1
        while arr[j] >= 0  and arr[j] > key:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key
    return arr

def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j -= 1
        while arr[j] >= 0 and arr[j] > key:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key

In [94]:
x = b"hello"
y = b"world"
print(x + y)  # Concatenation of byte strings
print(x * 3)  # Repetition of byte string
print(type(x), x)  # Type of byte string
print(type(y), y)  # Type of byte string

b'helloworld'
b'hellohellohello'
<class 'bytes'> b'hello'
<class 'bytes'> b'world'

In [96]:
x = bytearray(5)
print(x)  # bytearray of size 5 initialized with zeroes
print(type(x), x)  # bytearray of size 5 initialized with zeroes
x[0] = 65  # Assigning value to the first byte
print(x)  # bytearray after assignment
x = bytearray(b"hello")
print(x)  # bytearray initialized with bytes
print(type(x), x)  # Type of bytearray

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'> bytearray(b'\x00\x00\x00\x00\x00')
bytearray(b'A\x00\x00\x00\x00')
bytearray(b'hello')
<class 'bytearray'> bytearray(b'hello')

In [97]:
x = 4 + 6j
print(x)
print(type(x))  # Type of complex number
print(x.real)  # Real part of complex number

(4+6j)
<class 'complex'>
4.0

In [99]:
import random
for i in range(10):
    print(random.randint(1, 10))  # Random integer between 1 and 10

6
10
2
1
1
2
8
10
9
4

In [101]:
x = int(1)
y = int(2.5)
z = int("3")


print(x, y, z)  # Output: 1 2 3

1 2 3

In [103]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [110]:
a  = "   Hello, World!   " 
print(a.strip())  # Removes leading and trailing whitespace

Hello, World!

In [111]:
print(a.replace("H", "J"))

   Jello, World!

In [112]:
print(a.split(","))

['   Hello', ' World!   ']

In [115]:
txt = "ArithmeticError is an error that occurs \"Vikings \" when an arithmetic operation fails."
print(txt)  # Output: ArithmeticError is an error that occurs "Vikings " when an arithmetic operation fails.

ArithmeticError is an error that occurs "Vikings " when an arithmetic operation fails.

In [116]:
myTuple = ("apple", "banana", "cherry")
x = "# ".join(myTuple)
print(x)  # Output: apple# banana# cherry

apple# banana# cherry

In [117]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [120]:
x = 5

x >>= 3

print(x)

0

In [121]:
thislist = [1, 2, 3, 4, 5 ,2, 3, 4, 5]
thislist

[1, 2, 3, 4, 5, 2, 3, 4, 5]

In [122]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [123]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [124]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [125]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [127]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
thislist

['apple', 'banana', 'watermelon', 'cherry']

In [128]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [129]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [130]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [131]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [132]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newList = [x for x in fruits if "a" in x]
print(newList)  # Output: ['banana', 'mango']

['apple', 'banana', 'mango']

In [133]:
newlist = [x for x in fruits]
print(newlist)  # Output: ['apple', 'banana', 'cherry', 'kiwi', 'mango']

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [136]:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [138]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [139]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [141]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [142]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [143]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [144]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [145]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [146]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [153]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

thisset = {"apple", "banana", "cherry"}

print(len(thisset))
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
myset = {"apple", "banana", "cherry"}
print(type(myset))
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}
{True, 2, 'cherry', 'banana', 'apple'}
3
<class 'set'>
{'banana', 'apple', 'cherry'}

In [155]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

banana
apple
cherry
True

In [156]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'papaya', 'mango', 'apple', 'pineapple'}

In [161]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)


thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)


thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

{'orange', 'cherry', 'kiwi', 'banana', 'apple'}
{'apple', 'cherry'}
{'apple', 'cherry'}
banana
{'apple', 'cherry'}
set()

In [162]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 'c', 2, 3, 'a'}

In [163]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'cherry', 'bananas', 'b', 'c', 'John', 'Elena', 'apple', 'a'}

In [164]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [166]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

In [167]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [171]:
tuple = ("apple", "banana", "cherry")
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [172]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [173]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [180]:
s = "Hello World"
# print(s[::-1])
print(s[1:4])

ell

In [187]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [183]:
print(len(thisdict))
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

3
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [188]:
x = thisdict.get("model")
print(x)

Mustang

In [190]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [191]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [193]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [194]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [195]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [196]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)  # Output: {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [199]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [201]:
s = "Hello World"
print(s[::2])  # H

HloWrd

In [203]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)  # Output: {'brand': 'Ford', 'model': 'Mustang'}

{'brand': 'Ford', 'model': 'Mustang'}

In [209]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
# thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [210]:
# Get first 2 items as a new dictionary
first_two = dict(list(thisdict.items())[:2])
print(first_two)

{'brand': 'Ford', 'model': 'Mustang'}

In [205]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}