# List

In [2]:
from array import *

a1 = array('i', [1, 2, 3, 4, 5])
type(a1)

array.array

In [4]:
print(a1)

array('i', [1, 2, 3, 4, 5])

In [5]:
for x in a1:
    print(x)

1
2
3
4
5

In [6]:
a1.append(20)

In [9]:
a1.count(2)

1

In [10]:
a1.pop()

20

In [11]:
a1

array('i', [1, 2, 3, 4, 5])

In [12]:
a1.remove(3)

In [13]:
a1.pop(0)

1

In [14]:
a1

array('i', [2, 4, 5])

In [15]:
a1.reverse()

In [16]:
a1

array('i', [5, 4, 2])

In [17]:
a1.tolist()

[5, 4, 2]

In [18]:
n = [12,2,51,3,6,21,34]
n.sort()
n

[2, 3, 6, 12, 21, 34, 51]

In [2]:
a =10
b =20

def my_function():
    global a
    a =11 
    b =21

my_function()
print(a)
print(b)

11
20

## Flow control and iteration

In [3]:
x = 'one'
if x == 0:
    print('False')
elif x == 1:
    print('True')
else: 
    print('Something else')

Something else

In [33]:
t = []
s = "hello world"
s.count("e")
s.expandtabs(2)
s.find("o", 5, 10)
s.isalnum()
s.isalpha()
s.isascii()
s.isdigit()
s.join(t)
s.lower()
s.replace("o", "0")
s.split()
s.strip("hd")
s.split(" ")  # or s.split(",") depending on what separator you want to use

['hello', 'world']

In [34]:
s[1:2]

'e'

In [39]:
greet = "hello world"
greet[0:5]
greet[6:11]
greet[0:8]
greet[0:8:2]

'hlow'

In [40]:
greet[1+2]

'l'

In [41]:
for i in enumerate(greet[0:8]):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')

In [42]:
greet[:5] + " wonderful" + greet[5:]

'hello wonderful world'

In [44]:
x = "3" ; y = "4"
x + y
int(x) + int(y)

7

# List

In [56]:
chars = list(s)
chars.append(x)
chars
chars.extend(x)
s.count("o")
s.find("o")
s.index("o")
s.replace("o", "0")
s.split()
s.strip()
s.upper()
s.lower()
s.title()
s.capitalize()
s.swapcase()
s.isalnum()
s.isalpha()

False

In [60]:
x =1; y =2; z= 3
list1 = [x, y, z]
list2 = list1
list2[1]
list1

[1, 2, 3]

In [61]:
items = [["rice" , 2.4, 8], ["flour", 1.9, 5], ["corn", 4.7, 6]]
for item in items:
    print(f"Product: {item[0]} Price: {item[1]} Quality: {item[2]}")

Product: rice Price: 2.4 Quality: 8
Product: flour Price: 1.9 Quality: 5
Product: corn Price: 4.7 Quality: 6

In [63]:
items[1][1]  = items[1][1] * 1.2
items[1][1]

2.28

In [64]:
l = [1, 2, 3, 4, 5]

[i ** 3 for i in l]

[1, 8, 27, 64, 125]

In [65]:
def f1(x): return x*2
def f2(x) : return x*4


lst = []

for i in range(16):
    lst.append(f1(f2(i)))


print(lst)
print([f1(x) for x in range(64)  if x in [f2(j) for j in range(16)]])

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]

In [68]:
list1 = [[1,2,3], [4,5,6], [7,8,9]]

[i * j for i in list1[0] for j in list1[1]]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [69]:
words = 'here is a sentence'.split()
[[word, len(word)] for word in words]

[['here', 4], ['is', 2], ['a', 1], ['sentence', 8]]

## Function as first class object

In [74]:
def greeting(language):
    if language == 'eng':
        return 'hello world'
    if language == 'fr':
        return 'bonjour le monde'
    else:
        return 'language not supported'
    
l = [greeting('eng'), greeting('fr'), greeting('es')]
l[1]

'bonjour le monde'

In [75]:
def callf(f):
    lang = "eng"
    return (f(lang))

callf(greeting)

'hello world'

In [76]:
lst = [1,2,3,4]
list(map(lambda x: x**2, lst))

[1, 4, 9, 16]

In [78]:
## Filter

list(filter((lambda x: x<3), lst))

[1, 2]

In [79]:
words = str.split('The quick brown fox jumps over the lazy dog')

sorted(words, key= len)

['The', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

In [83]:
sl = ['A', 'b', 'a', 'C', 'c']
sl.sort( key = str.lower)

In [84]:
sl

['A', 'a', 'b', 'C', 'c']

In [85]:
items.sort(key= lambda item: item[1])
item

['corn', 4.7, 6]

In [89]:
def iterTest(low, high):
    while low <= high:
        print(low)
        low += 1

def recurTest(low, high):
    if low <= high:
        print(low)
        recurTest(low + 1, high)# recursive call with updated low value


# iterTest(1, 5)
recurTest(1, 5)

1
2
3
4
5

## Generators and co-routine

In [90]:
import time
# generator function creates an iterator of odd numbers between n and m

def oddGen(n, m):
    while n<m:
        if n % 2 == 1:
            yield n
        n += 1

# build a list of odd number between n and m
def oddlst(n, m):
    lst = []
    while n<m:
        if n % 2 == 1:
            lst.append(n)
        n += 1
    return lst

t1 = time.time()
sum(oddGen(1, 1000000))
print('Time to sum an iterator: ', time.time() - t1)


t1 = time.time()
sum(oddlst(1, 1000000))
print('Time to build and sum a list: ', time.time() - t1)

Time to sum an iterator:  0.15935182571411133
Time to build and sum a list:  0.14708971977233887