In [2]:
myString = "hello"
print(myString[0])
print(myString[-1])
print(myString[2:5])

h
o
llo

In [3]:
print(myString[2:])

llo

In [4]:
# String are immutable
myString = "hello"
myString[4] = 's'

TypeError: 'str' object does not support item assignment

In [5]:
del myString

In [6]:
s1 = "Hello"
s2 = "World"

print(s1 + s2)

HelloWorld

In [8]:
count = 0 
for i in "Hello World":
    if i == 'o':
        count += 1

print(count)

2

In [9]:
print("Hello" in "Hello World")

True

In [10]:
print("or" in "Hello World")

True

In [11]:
print("sr" in "Hello World")

False

In [12]:
"EX".lower()

'ex'

In [13]:
"Hello World HElasda  asd".split()

['Hello', 'World', 'HElasda', 'asd']

In [14]:
'_'.join(['Hello', 'World', 'My', 'Name'])

'Hello_World_My_Name'

In [15]:
"Good Morning".find("Mo")

5

In [16]:
"Good Morning".replace("Mo", "Af")

'Good Afrning'

In [17]:
s1 = "Hello"
s2 = s1.replace('l', 'w')

print(s1)
print(s2)

Hello
Hewwo

In [20]:
myStr = "Nitin"
myStr = myStr.lower()
revStr = reversed(myStr)

if myStr == revStr:
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [21]:
myStr = "Python Program to sort Words in Alphabetic Order"
words = myStr.split()
words.sort()

for word in words:
    print(word)

Alphabetic
Order
Program
Python
Words
in
sort
to

#### Set Data Structure
#### set is mutable
#### used to store multiple items in single variable {}
##### thisset = {'apple', "banana"}

In [23]:
s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [24]:
s = set([1,2,3,4,5,6,7,8,9])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
s = {1,2}
print(s[1])

TypeError: 'set' object is not subscriptable

In [28]:
s.add(2)
s

{1, 2}

In [29]:
s.update([3,4,5])
s

{1, 2, 3, 4, 5}

In [30]:
s.update([5,6], {7,8,9})
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
s = {1,2,3,4,5,6,7,8,9}
print(s)
s.discard(5)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 6, 7, 8, 9}

In [33]:
s.remove(2)
print(s)

{1, 3, 4, 6, 7, 8, 9}

In [34]:
s.remove(12)

KeyError: 12

In [35]:
s.discard(14)

In [41]:
s = {1,2,3,4,5,6,7}
s.pop()
s

{2, 3, 4, 5, 6, 7}

In [42]:
s.pop()
print(s)

{3, 4, 5, 6, 7}

In [44]:
s.clear()

In [45]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
print(set1 - set2)

{1, 2, 3}

In [48]:
print(set1 ^ set2)

{1, 2, 3, 6, 7, 8}

In [50]:
x = {"a", "b", "c", "d","e"}
y = {"c", "d"}

print(x.issubset(y))

print(y.issubset(x))

False
True

In [52]:
# frozenset are immutable
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

### Dictionary DS
Dictionary DS is a data structure that stores key-value pairs. It is similar to a hash table, do not allow duplicates, ordered pair

In [55]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}


print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [61]:
mydict = dict([(1,'avl'), (2,"TVS")])
mydict

{1: 'avl', 2: 'TVS'}

In [62]:
print(thisdict["brand"])

Ford

In [63]:
print(thisdict.get("model"))

Mustang

In [64]:
print(thisdict.get("price", 15000))

15000

In [65]:
mydict['Sales'] = 25000
mydict

{1: 'avl', 2: 'TVS', 'Sales': 25000}

In [66]:
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

In [67]:
print(mydict.values())

dict_values(['avl', 'TVS', 25000])

In [69]:
print(mydict.pop(1))

avl

In [71]:
print(mydict.popitem())

('Sales', 25000)

In [72]:
square = {1:1, 2:4, 3:9, 4:16, 5:25}
del square

In [73]:
square = {1:1, 2:4, 3:9, 4:16, 5:25}
mysquare = square.copy()
mysquare

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [74]:
subjects = {}.fromkeys(['Math', 'English', 'Science'], 0)
subjects

{'Math': 0, 'English': 0, 'Science': 0}

In [75]:
subjects = {2:4 ,3:9, 4:16, 5:25}
print(subjects.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [76]:
d = {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [77]:
d = {1: "one", 2: "two", 3: "three"}

for pair in d.items():
    print(pair)

(1, 'one')
(2, 'two')
(3, 'three')

In [78]:
d = {1: "one", 2: "two", 3: "three"}
new_dict = {k:v for k,v in d.items() if v != "two"}
print(new_dict)

{1: 'one', 3: 'three'}